body{
  font-size: 13px;
  font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Russo One', sans-serif;
}

a{
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

header h1{
  text-align: center;
}

.container{
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  display: -webkit-flex;
  display: ms-flexbox;
  flex-flow: row wrap;
  align-items: stretch;
}

.student{
  /*background-color: salmon;*/
  border: 1px solid #ccc;
  margin: 5px;
  flex: 1 1 30%;
  /*width: 30%;*/
  /*float: left;*/
}

.student:hover{
  /*background-color: ;*/
}

.student h3{
  text-align: center;
  margin-bottom: 10px;
}

.link_list{
  border-top: solid #ccc 1px;
  width: 80%;
  margin: 0 auto;
}

.link_list ul{
  padding: 0;
}

.link_list ul li{
  padding: 5px;
}

a{
  color: salmon;
}

a:hover{
  color: #ccc;
}

footer{
  width: 70%;
  margin: 0 auto;
}

/*.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }*/
/* start commented backslash hack \*/
/** html .clearfix { height: 1%; }
.clearfix { display: block; }*/
/* close commented backslash hack */
